<h1> {{ name.toLocaleUpperCase() }} </h1>

<dl>
  <td>Nombre:</td>
  <dd> {{ name }} </dd>

  <td>Edad:</td>
  <dd> {{ age }} </dd>

  <td>Método</td>
  <dd> {{ getHeroDescription() }} </dd>

  <td>Capitalizado</td>
  <dd> {{ capitalizedName }} </dd>

</dl>


<button *ngIf="name == 'ironman'" (click)="changeName()" class="m-1" pButton>
  Cambiar nombre
</button>

<button *ngIf="age == 45" (click)="changeAge()" class="m-1" pButton>
  Cambiar edad
</button>

<button
  *ngIf="age !== 45 || name !== 'ironman'" (click)="resetForm()" class="m-1" pButton>
  reset
</button>
