<h3>Listado de Héroes</h3>

<div *ngIf="deleteHero;  else nothingWasDeleted">
  <h3>Héroe borrado <small class="text-danger"> {{  deleteHero }} </small></h3>
</div>

<ng-template #nothingWasDeleted>
  <h3 *ngIf="!deleteHero">No ha borrado nada.</h3>
</ng-template>


<button *ngIf="heroNames.length > 0" (click)="removeLastHero()" pButton>Borrar último héroe</button>
<button *ngIf="heroNames.length == 0" (click)="resetHeros(['Spiderman', 'Ironman', 'Hulk', 'She Hilk', 'Thor'])" pButton>Reset</button>

<ul class="mt-2  list-group">
  <li *ngFor="let name of heroNames"  class="list-group-item">{{ name }}</li>
</ul>
